<ng-container *ngIf="!isLoading"
  ><!--First project-->

  <div
    class="container-fluid p-3 mb-5"
    style="width: 80vw; background-color: whitesmoke; border-radius: 4px; margin-top: 2rem"
  >
    <div class="row">
      <div class="col-12" style="margin: 1pc; text-align: center">
        <h3>Comunidades</h3>
      </div>
      <div class="col-12 mt-3" style="height: 80%; width: 80%">
        <carousel>
          <slide>
            <img
              class="img-fluid"
              src="../../assets/images/parque15.jpg"
              style="max-width: 100%;"
            />
          </slide>
          <slide>
            <img
              class="img-fluid"
              src="../../assets/images/humboldt6.jpeg"
              style="max-width: 100%;"
            />
          </slide>
          <slide>
            <img
              class="img-fluid"
              src="../../assets/images/parque9.jpg"
              style="max-width: 100%;"
            />
          </slide>
        </carousel>
      </div>
    </div>

    <!--GALERÍA-->
  </div>
</ng-container>
