<div class="container intro" style="margin-top: 1rem;">
  <div class="col-12 text-center">
    <h1 style="font-size: 5vh; color: #000000">
      Servicio Comunitario - Universidad Metropolitana
    </h1>
    <h3 style="font-size: 5vh; color: #000000">
      Redes y prestación de Servicios de Infraestructura
    </h3>
  </div>
</div>

<div class="container info">
  <div class="row">
    <div class="col-12 mt-3" style="height: 80%; width: 80%">
      <carousel>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo1.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo2.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo3.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo4.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo5.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo6.jpeg"
            style="max-width: 100%;"
          />
        </slide>
      </carousel>
    </div>
  </div>
</div>

<div class="container intro">
  <div class="col-12 text-center">
    <h4 style="font-size: 5vh; color: #000000">
      ¿Cuál es el propósito del Proyecto?
    </h4>
  </div>
</div>

<div class="container info">
  <div class="col-12 text-center">
    <p>
      El estudiante conoce y evalúa redes y servicios de infraestructura
      mediante la aplicación de herramientas que contribuyan a la fomrulación de
      propuestas técnicas que, en alianza con los diversos actores sociales,
      contribuyan a la comprensión y la resolución de problemas en el marco de
      las comunidades.
    </p>
  </div>
</div>
