<div class="container intro">
  <div class="col-12 text-center">
    <h3 style="font-size: 5vh; color: whitesmoke">
      Servicio Comunitario - Proyecto: Redes e Infraestructura
    </h3>
  </div>
</div>

<div class="container info">
  <div class="row">
    <div class="col-12 mt-3" style="height: 80%; width: 80%">
      <carousel>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo1.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo2.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo3.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo4.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo5.jpeg"
            style="max-width: 100%;"
          />
        </slide>
        <slide>
          <img
            class="img-fluid"
            src="../../assets/images/grupo6.jpeg"
            style="max-width: 100%;"
          />
        </slide>
      </carousel>
    </div>
  </div>
</div>

<div class="container intro">
  <div class="col-12 text-center">
    <h4 style="font-size: 5vh; color: whitesmoke">
      ¿Qué es Aprender en Servicio?
    </h4>
  </div>
</div>

<div class="container info">
  <div class="col-12 text-center">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dicta
      placeat, natus tempore nesciunt non fugit nam adipisci iusto sequi facere
      vero corrupti perspiciatis! Possimus facere optio amet eveniet excepturi?
    </p>
  </div>
</div>
